h1 {
    float: left;
    text-align: center;
    margin-right: 50px;
    margin-top: 0px;
    padding-top: 50px;
    height: 640px;
    font-size: 300%;
    width: 200px;
    background-color: #66B3FF;
    color: white;
}

h2 {
    line-height: 200%;
}
h3,p {
    line-height: 50%;
    font-size: 100%;
}
h3 {
    font-style: bold;
}